[submodule "docs"]
	path = docs
	url = https://github.com/Luxinity-Roleplay/docs
	branch = docs
[submodule "blog"]
	path = blog
	url = https://github.com/Luxinity-Roleplay/docs
	branch = blog
[submodule "static"]
	path = static
	url = https://github.com/Luxinity-Roleplay/docs
	branch = static
